html {
	/* 영문이면 roboto가 적용되고, 한글이면 Noto Sans KR가 적용되도록 아래와 같은 순서로 배치 */
	font-family: "Roboto", "Noto Sans KR", sans-serif;
}

/* 노말라이즈 */
body, ul, li, h1 {
	margin: 0;
	padding: 0;
	list-style: none;
}

a {
	color: inherit;
}

label[for] {
	cursor: pointer;
	user-select: none;
}

/* 라이브러리 */
.block {
	display: block;
}

.inline-block {
	display: inline-block;
}

.con {
	margin-left: auto;
	margin-right: auto;
}

.border-red {
	border: 10px solid red;
}

html>head+body:nth-child(2) .height-300 {
	min-height: 100px;
}

.bg-white {
	background-color:white;
}

.padding-10 {
	padding:10px;
}

/* flex 관련 */
.flex {
	display: flex;
}

.flex-ai-c {
	align-items: center;
}

.flex-jc-c {
	justify-content: center;
}

/* 테이블 관련 */
.table-box>table {
	width: 100%;
	border-collapse: collapse;
}

.table-box>table th, .table-box>table td {
	border: 1px solid black;
	padding: 10px;
	text-align: left;
}

/* 폼 관련 */
.form1 .form-control-box>input, .form1 .form-control-box>textarea {
	width: 100%;
	padding: 0;
	display: block;
	box-sizing: border-box;
	padding: 10px;
}

.form1 .form-control-box>textarea {
	min-height: 300px;
	resize: none;
}

.form1 .form-row {
	display:flex;
}

.form1 .form-row > .form-control-label {
	display:flex;
	align-items: center;
	padding:10px;
}

.form1 .form-row > .form-control-box {
	display:flex;
	align-items: center;
	padding:10px;
}

/* 커스텀 */
.con {
	max-width: 1200px;
}

.page-title-box {
	margin-top: 30px;
	margin-bottom: 30px;
}

@charset "utf-8";

/* 노말라이즈 */
body, ul, li {
	margin: 0;
	padding: 0;
	list-style: none;
}

a {
	color: inherit;
	text-decoration: none;
}
/**/
.con {
	max-width: 856px;
	margin: 0 auto;
}

.page-box {
	margin-top: 10px;
	margin-bottom: 30px;
	/*background-color:pink;*/
	/*text-align: center;*/
}

.page-box>ul>li {
	display: inline-block;
}

.page-box>ul>li>a {
	font-size: 1.2rem;
	padding: 0 10px;
	text-decoration: underline;
	color: #787878;
}

.page-box>ul>li:hover>a {
	color: black;
}

.page-box>ul>li.current>a {
	color: red;
}

.page-box>ul>span {
	cursor: pointer;
}

.page-box>ul>span:active {
	color: blue;
}
/**/

/**/
.list-box {
	padding: 20px;
}

.list-box a:hover {
	color: blue;
}

.write-box a {
	font-size: 2rem;
	font-weight: bold;
	color: red;
	text-decoration: underline;
}

.write-box a:hover {
	color: blue;
}

.top {
	margin-top: 30px;
}
/**/
.back {
	-webkit-writing-mode: horizontal-tb !important;
	text-rendering: auto;
	letter-spacing: normal;
	word-spacing: normal;
	-webkit-rtl-ordering: logical;
	text-transform: none;
	text-indent: 0px;
	margin: 0em;
	font: 400 13.3333px Arial;
	text-shadow: none;
	display: inline-block;
	-webkit-appearance: push-button;
	user-select: none;
	white-space: pre;
	align-items: flex-start;
	text-align: center;
	cursor: default;
	color: buttontext;
	background-color: buttonface;
	box-sizing: border-box;
	padding: 1px 6px;
	border-width: 2px;
	border-style: outset;
	border-color: buttonface;
	border-image: initial;
	text-decoration: none;
	flex: 1;
}

a.back:hover {
	cursor: pointer;
	-webkit-appearance: textfield;
	border-width: 2px;
	border-image: initial;
}

.back:active {
	border-style: inset;
}

.template-box {
	display: none;
}

/*
.detail-box {
	background-color: #efefef;
	padding:30px;
	border:2px solid black;
}*/

/* 댓글 시작*/
.table-box>table input[type="text"], .table-box>table input[type="number"],
	.table-box>table input[type="tel"], .table-box>table textarea {
	width: 90%;
}

.height-100px {
	height: 100px !important;
}

/*디테일*/
.article-reply-list-box tr .loading-delete-inline {
	display: none;
	font-weight: bold;
	color: red;
}

.article-reply-list-box tr[data-loading="Y"] .loading-none {
	display: none;
}

.article-reply-list-box tr[data-loading="Y"][data-loading-delete="Y"] .loading-delete-inline
	{
	display: inline;
}

.article-reply-list-box tr[data-modify-mode="Y"] .modify-mode-none {
	display: none;
}

.article-reply-list-box tr .modify-mode-inline {
	display: none;
}

.article-reply-list-box tr .modify-mode-block {
	display: none;
}

.article-reply-list-box tr[data-modify-mode="Y"] .modify-mode-block {
	display: block;
}

.article-reply-list-box tr[data-modify-mode="Y"] .modify-mode-inline {
	display: inline;
}
/* 댓글 끝 */

/*form-control-box*/
.form-control-box{
	display: flex;
}

.form-control-box > * {
	flex:1;
}